.App, .App-medium, .App-mobile {
  width: 100vw;
  /* overflow-x: hidden;  */
}
.App {
  min-height: 100vh;
  
  display: grid;
  grid-template-columns: 280px auto;
}
.App-medium {
  width: 100vw;

  display: grid;
  grid-template-rows: 160px auto;
}
.App-mobile {
  width: 100vw;
  min-height: 100vh;
  background-color: #EFF0F0;
  
  // display: flex;
  // flex-flow: column nowrap;
  display: grid;
  grid-template-rows: 6rem auto;
  grid-auto-columns: 100%;
}