.App, .App-medium, .App-mobile {
  width: 100vw;
  overflow-x: hidden; 
}
.App {
  min-height: 100vh;
  
  display: grid;
  grid-template-columns: 20% auto;
}
.App-medium {
  width: 100vw;

  display: grid;
  grid-template-rows: 160px auto;
}
.App-mobile {
  width: 100vw;
  display: grid;

  /* grid-template-rows: 30vh auto; */
}
@media (max-width: 1280px) {
  .App {
    grid-template-columns: 24% auto;
  }
}