.App {
  width: 100vw;
  min-height: 100vh;
  
  display: grid;
  grid-template-columns: 20% auto;
}
.App-mobile {
  width: 100vw;

  display: grid;
  grid-template-rows: 160px auto;
}
@media (max-width: 1280px) {
  .App {
    grid-template-columns: 24% auto;
  }
}
