@for $r from 0 through 13 {
  @for $c from 0 through 4 {
    .lesson-#{ $r }-#{ $c } {
      grid-column: #{ $c + 1 } /span 1;
      grid-row: #{ $r + 1 } /span 1;
    }
  }
}
@for $lesson from 1 through 10 {
  .part-#{$lesson}-of-lesson {
    display: flex;
    flex-flow: wrap;
  }
}
.lesson-divided-part {
  position: relative;
  width: 100%;
  & + & {
    border-top: 2px solid rgba(0,0,0, .1);
  }
}

.lesson {
  position: relative;
  padding: 0.5em;

  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}
.lesson h3 {
  margin: 0;
}
.lesson .room {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}