.schedule-wireframe {
  grid-area: scheduleWireframe;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  // grid-template-rows: repeat(14, var(--row-#{$i}-height));
  grid-template-rows: 
    var(--row-0-height) var(--row-1-height) var(--row-2-height) var(--row-3-height)
    var(--row-4-height) var(--row-5-height) var(--row-6-height) var(--row-7-height)
    var(--row-8-height) var(--row-9-height) var(--row-10-height) var(--row-11-height)
    var(--row-12-height) var(--row-13-height);
  grid-auto-flow: column;
  background-color: #E9E9E9;
}