.schedule-wireframe {
  grid-area: scheduleWireframe;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  // grid-template-rows: repeat(14, var(--row-#{$i}-height));
  grid-template-rows: 
    var(--row-0-height) var(--row-1-height) var(--row-2-height) var(--row-3-height)
    var(--row-4-height) var(--row-5-height) var(--row-6-height) var(--row-7-height)
    var(--row-8-height) var(--row-9-height) var(--row-10-height) var(--row-11-height);
  
  grid-auto-flow: column;
  background-color: #E9E9E9;
}
@for $i from 0 through 4 {
  .target-#{$i} {
    .day-#{$i} {
      background: rgba(255, 255, 255, .18);
      color: #009ACD;
      transition: background-color 1.2s;
    }
  }
}
.days-mobile {
  transform: translateY(-1px);  //get rid of annynoing gap between this and settings panel
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background: #343434;
  color: #E9E9E9;
  .day-mobile {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 4px;
    font-size: 12px;
    line-height: 12px; 
  }
}
.xd {
  background: #EFF0F0;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .free-period {
    display: none;
  }
}